* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
#body {
  background: orange;
  transition: background 5s linear;
}
.loading-icon {
  text-align: center;
  background: white;
  border-radius: 5px;
  padding: 25px 35px 35px;
  box-shadow: -10px 10px 0 rgba(0, 0, 0, 0.07);
}
.loading-icon p {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  font-family: futura, sans-serif;
  color: black;
  margin-bottom: 20px;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: orangered;
  border-radius: 50%;
  margin: 10px;
  animation-name: scaleUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot:nth-of-type(1n) {
  animation-delay: 0.1s;
}

.dot:nth-of-type(2n) {
  animation-delay: 0.2s;
}

.dot:nth-of-type(3n) {
  animation-delay: 0.3s;
}

.dot:nth-of-type(4n) {
  animation-delay: 0.4s;
}

.dot:nth-of-type(5n) {
  animation-delay: 0.5s;
}

.dot:nth-of-type(6n) {
  animation-delay: 0.6s;
}

.dot:nth-of-type(7n) {
  animation-delay: 0.7s;
}
@-webkit-keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
#text {
  display: none;
  color: white;
  font-size: 20px;
  font-style: sans-serif;
}
#btn {
  display: none;
  height: 50px;
  width: 120px;
  border: none;
  background: orange;
}

section {
  height: 100vh;
  background-color: indigo;
  font-family: sans-serif;
}

.score {
  color: #ececec;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score h2 {
  font-size: 30px;
}

.score p {
  text-align: center;
  padding: 10px;
  margin: 25px;
}

.intro {
  color: #ececec;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 50px;
}

.intro button,
.match button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: #ececec;
  font-size: 20px;
  background-color: rgb(45, 117, 96);
  border-radius: 5px;
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.winner {
  color: #ececec;
  text-align: center;
  font-size: 50px;
}

/* .player-hand {
  transform: rotateY(180deg);
} */

.hands {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 08142283182 ETISALAT EL-BLESSING*/

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@keyframes shaker {
  0% {
    transform: rotateY(180deg), translateY(0px);
  }
  15% {
    transform: rotateY(180deg), translateY(-50px);
  }
  25% {
    transform: rotateY(180deg), translateY(0px);
  }
  35% {
    transform: rotateY(180deg), translateY(-50px);
  }
  50% {
    transform: rotateY(180deg), translateY(0px);
  }
  65% {
    transform: rotateY(180deg), translateY(-50px);
  }
  75% {
    transform: rotateY(180deg), translateY(0px);
  }
  85% {
    transform: rotateY(180deg), translateY(-50px);
  }
  100% {
    transform: rotateY(180deg), translateY(0px);
  }
}

@keyframes shakePlayer {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1;
}

.modal-body {
  width: 50%;
  height: 500px;
  position: relative;
  margin: 11% auto;
  padding-top: 1px;
  border-radius: 20px;
  background: url(../rect.svg);
}

.first {
  text-align: center;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  margin: 25px;
  text-transform: uppercase;
}

.second {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  text-transform: uppercase;
  margin: 35px 0 35px 0px;
}

.player {
  margin: 0;
  width: 50%;
  height: 50px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

.computer {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  text-transform: uppercase;
  width: 50%;
  height: 50px;
  text-align: center;
}

.playerScore {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
}

.computerScore {
  margin-top: 15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
.scores {
  width: 60%;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreContainer {
  margin-right: 50px;
  text-align: center;
}

.btn {
  text-align: center;
  margin-top: 40px;
}
.replay {
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #ececec;
  width: 180px;
  height: 50px;
  font-size: 24px;
  background: #ff9900;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
